body {
  background-color: black;
  color: white;
}

.car-card {
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
  color: white;
  overflow: hidden;
  border-radius: 8px;
  margin: 1em; /* Add spacing between cards */
  background-color: #222; /* Slightly different background for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.car-card img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.car-card img:hover {
  transform: scale(1.1);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em; /* Space between buttons */
  margin-top: 1em;
}

.button-group button {
  background-color: #007BFF; /* Button color */
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-group button:hover {
  background-color: #0056b3;
}

.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  font-size: 1rem;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-bar input:focus {
  border-color: gold;
}

@media (max-width: 768px) {
  .car-card img {
    max-width: 100%;
  }

  .button-group {
    flex-direction: column;
  }
}
