header {
    background-color: #333;
    padding: 1em 0;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  nav ul li:hover{
  background-color: rgb(100, 100, 100);
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  